<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.LoginMapper">
    <select id="getAccount" resultType="com.example.entity.Account">
        SELECT * FROM users
        WHERE username = #{username}
    </select>
</mapper>